# Désactiver le listage des dossiers
Options -Indexes

# Page d'accueil
DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forcer HTTPS
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Ne pas réécrire les fichiers ou dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # URL sans extension -> .html
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.+)$ $1.html [L]

    # URL sans extension -> .php
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+)$ $1.php [L]
</IfModule>